<%= form_for(@amoeba) do |f| %>
  <% if @amoeba.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amoeba.errors.count, "error") %> prohibited this amoeba from being saved:</h2>

      <ul>
      <% @amoeba.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :generation %><br>
    <%= f.number_field :generation %>
  </div>
  <div class="field">
    <%= f.label :talent_id %><br>
    <%= f.select :talent_id, @talents %>
  </div>

  <div class="field">
    <% @acts.each do |act| %>
      <%= check_box_tag "amoeba[act_ids][]", 
            act.id, @amoeba.act_ids.include?(act.id), 
            id: "amoeba_act_ids_#{act.id}" %>
      <%= label_tag "amoeba_act_ids_#{act.id}", act.name %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
