<p id="notice"><%= notice %></p>
<% if flash[:error] %>
  <p class="alert alert-error"><%= flash[:error] %></p>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @amoeba.name %>
</p>

<p>
  <strong>Generation:</strong>
  <%= @amoeba.generation %>
</p>

<p>
  <strong>Talent:</strong>
  <%= @amoeba.talent.name %>
</p>
<p>
  <strong>Acts:</strong>
  <% if @amoeba.acts.any? %>
  <ul>
    <% @amoeba.acts.each do |act| %>
    <li>
      <strong><%= act.name %></strong>
    </li>
    <% end %>
  </ul>
  <% else %>
  <em>Not in any acts.</em>
  <% end %>
</p>
<%= link_to 'Edit', edit_amoeba_path(@amoeba) %> |
<%= link_to 'Back', amoebas_path %>

<br/>
<br/>

<%= form_tag(split_amoeba_path(@amoeba)) do %>
  <p>
  <%= label_tag :"amoeba[amoeba_1]", "Amoeba #1" %>
  <%= text_field_tag :"amoeba[amoeba_1]" %>
  </p>
  <p>
  <%= label_tag :"amoeba[amoeba_2]", "Amoeba #2" %>
  <%= text_field_tag :"amoeba[amoeba_2]" %>
  </p>
  <p>
  <%= submit_tag "Split" %>
  </p>

<% end %>
